<!doctype html>
<html lang="">
  <% include common/partials/head.ejs %>
  <body>
    <div class="page page--content">
      <% include common/components/header.ejs %>
      <% include common/components/main.ejs %>
      <% include common/components/footer.ejs %>
    </div>

    <% include common/partials/footer.ejs %>
    <% if(false) { %>
      <% include common/partials/analytics.ejs %>
    <% } %>
  </body>
</html>
