<!doctype html>
<html lang="">
  <% include partials/head.ejs %>
  <body>
    <div class="page page--content">
      <% include components/header.ejs %>
      <% include standard/components/main.ejs %>
      <% include components/footer.ejs %>
    </div>

    <h1><%= htmlWebpackPlugin.options.test %></h1>

    <% if(false) { %>
      <% include partials/analytics.ejs %>
    <% } %>
  </body>
</html>
