<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Web Boilerplate</title>

  <%# all syntax features  Disable tap highlight on IE %>
  <meta name="msapplication-tap-highlight" content="no">

  <%# Web Application Manifest %>
  <link rel="manifest" href="manifest.json">

  <%# Color the status bar on mobile devices %>
  <meta name="theme-color" content="#2F3BA2">

  <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
  <!--
  <link rel="canonical" href="http://www.example.com/">
  -->

  <!-- Styles -->
  <link rel="stylesheet" href="styles.css">

  <!-- JavaScript (head) -->
  <script src="head.js"></script>
</head>
